.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
}

.headerTitle {
  font-family: var(--font-accent);
  color: var(--color-primary);
  font-size: 2.5rem;
}

.headerButton {
  width: 4rem;
  height: 4rem;
  border: none;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerButton:hover {
  cursor: pointer;
}
