:root {
  --color-primary: #2a70d6;
  --color-light: #dadada;
  --color-white: #f1f2f3;
  --color-dark: #2b3641;
  --color-black: #202831;
  --color-grey: #505050;

  --font-accent: 'Lilita One', sans-serif;
  --font-normal: 'PT Sans', sans-serif;
}

/* Base styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: var(--font-normal);
  line-height: 1.6;
  color: var(--color-black);
  font-size: 1.5rem;
}

/* Utilities */
.bg-light,
.fg-light {
  color: var(--color-dark);
}

.bg-light {
  background: var(--color-white);
}

.fg-light {
  background: var(--color-light);
}

.bg-dark,
.fg-dark {
  color: var(--color-white);
}

.bg-dark {
  background: var(--color-dark);
}

.fg-dark {
  background: var(--color-black);
}

/* App styles */
.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.5rem 2.5rem;
}

.header__title {
  font-family: var(--font-accent);
  color: var(--color-primary);
  font-size: 2.5rem;
}

.header__btn-toggle-theme {
  width: 4rem;
  height: 4rem;
  border: none;
  padding: 1rem;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header__btn-toggle-theme:hover {
  cursor: pointer;
}

/* Palette preference styles */
.palette-preference {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  padding: 1.5rem 0;
}

.palette-preference__base {
  display: flex;
  gap: 1rem;
}

#base-color {
  width: 2.5rem;
  height: 2.5rem;
}

#scheme-name {
  height: 3.5rem;
  border-radius: 1rem;
  padding: 0 0.5rem;
}

.palette-preference__scheme {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn-generate-palette {
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  border: none;
  font-family: inherit;
  background: var(--color-primary);
  color: var(--color-white);

  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.btn-generate-palette:hover {
  cursor: pointer;
}

/* Color palette styles */
.color-palette {
  flex-grow: 1;

  display: flex;

  width: 100vw;
  height: 100%;
}

.color {
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.color span {
  background: var(--color-grey);
  font-family: var(--font-accent);
  color: var(--color-light);
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.color span:hover {
  cursor: pointer;
}

/* Loader styles */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-accent);
  padding-top: 15%;
}

/* Modal styles */
.modal {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal span {
  font-size: 2rem;
  font-family: var(--font-accent);
  text-transform: uppercase;
  background-color: var(--color-grey);
  color: var(--color-white);
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
}

/* Media queries */
@media screen and (max-width: 720px) {
  .hide-below-md {
    display: none;
  }

  .show-below-md {
    display: inline-block;
  }

  .color-palette {
    flex-direction: column;
  }
}

@media screen and (min-width: 720px) {
  .show-below-md {
    display: none;
  }
}
