:root {
  --color-primary: #2a70d6;
  --color-light: #dadada;
  --color-white: #f1f2f3;
  --color-dark: #2b3641;
  --color-black: #202831;
  --color-grey: #505050;

  --font-accent: 'Lilita One', sans-serif;
  --font-normal: 'PT Sans', sans-serif;
}

/* Base styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: var(--font-normal);
  line-height: 1.6;
  color: var(--color-black);
  font-size: 1.5rem;
}

/* Utilities */
.bg-light,
.fg-light {
  color: var(--color-dark);
}

.bg-light {
  background: var(--color-white);
}

.fg-light {
  background: var(--color-light);
}

.bg-dark,
.fg-dark {
  color: var(--color-white);
}

.bg-dark {
  background: var(--color-dark);
}

.fg-dark {
  background: var(--color-black);
}

/* Media queries */
@media screen and (max-width: 720px) {
  .hide-below-md {
    display: none;
  }

  .show-below-md {
    display: inline-block;
  }
}

@media screen and (min-width: 720px) {
  .show-below-md {
    display: none;
  }
}
